.Schedule {
  width: 400px;
  height: 250px;
  background-color: var(--rosy-brown);
  background-color: var(--misty-rose);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.Schedule ul {
  margin: 1rem 5%;
  text-align: left;
}

.Schedule h3 {
  font-weight: 700;
  font-size: 120%;
  margin: 0 5%;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: left;
}

.Schedule ul li span {
  text-align: left;
  font-weight: 600;
}
