.Aside {
  top: 0;
  left: 0;
  height: 100vh;
  width: 25%;
  background-color: var(--black-bean);
  padding: 0 1rem;
}

.Aside .logo {
  height: 80px;
  display: grid;
  place-items: center;
}
.Aside .logo h1 {
  color: var(--white);
  font-size: 1.5rem;
}

.Aside fieldset {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.Aside .courses legend {
  padding: 0 15px;
  color: var(--white);
}

.Aside .courses ul {
  color: var(--white);
  margin: 2rem 0px;
}

.Aside .courses ul li {
  text-align: left;
  text-transform: capitalize;
  background-color: var(--rose-quartz);
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--black);
  cursor: pointer;
  margin-bottom: 2rem;

  transition: all 0.3s ease-in-out;
}

.Aside .courses ul li:hover {
  transform: translateX(0.25rem);
  background-color: var(--white);
}
