.ScheduleDetails {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.ScheduleDetails header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ScheduleDetails svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--liver);
  cursor: pointer;
}

.ScheduleDetails ul {
  list-style-type: none;
  padding: 0;
}

.ScheduleDetails li {
  border: 1px solid var(--silver);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--misty-rose);
}

.ScheduleDetails p {
  margin: 0.5rem 0;
}
