.Main {
  width: 100%;
}

.Main .main-content {
  padding: 2rem 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.Main .btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Main .btns button {
  padding: 0.5rem 1.5rem;
  background-color: var(--misty-rose);
  border-radius: 1rem;
}

.Main .lecture-card {
  padding: 2rem;
  /* background-color: var(--rosy-brown); */
  background-color: var(--misty-rose);
  border-radius: 1rem;
}

.Main .lecture-card h3 {
  margin-bottom: 1rem;
}

.Main .lecture-card p {
  text-align: left;
}
