@import '../../var.css';

.Header {
  width: 100%;
  height: 80px;
  background-color: var(--liver);
  background-color: var(--misty-rose);
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5%;
}

.subHeader {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.subHeader .addNew {
  background-color: var(--misty-rose);
  background-color: var(--black-bean);
  padding: 5px 20px;
  padding: 0.5rem 1.5rem;
  color: var(--rose-quartz);
  color: var(--misty-rose);
  border-radius: 0.25rem;
  text-wrap: nowrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 0.25rem; */
  transition: all 0.3s ease-in-out;
}
.subHeader .addNew:hover {
  transform: translateX(-0.25rem);
}

.Header .subHeader button svg {
  stroke-width: 3px;
  transition: all 0.3s ease-in-out;
}

.subHeader .addNew:hover {
  /* color: var(--rosy-brown); */
}

.subHeader .addNew:hover > svg {
  transform: rotate(-270deg);
  margin-right: 0.25rem;
}

.subHeader .login {
  cursor: pointer;
}

.subHeader .login svg {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-bean);
}

.subHeader .login:hover {
  color: var(--rosy-brown);
}

@media screen and (max-width: 980px) {
  .Header {
    height: 50px;
  }

  .Header h1 {
    font-size: 1.5rem;
  }

  .subHeader {
    gap: 1rem;
  }
}
