@import './var.css';
@import './reset.css';
/* pages css */
@import './pages/Home/Home.css';
@import './pages/AddNew/AddNew.css';
@import './pages/ScheduleDetails/ScheduleDetails.css';
/* components css */
@import './components/Main/Main.css';
@import './components/Header/Header.css';
@import './components/Schedule/Schedule.css';
@import './components/ScheduleInput/ScheduleInput.css';
@import './components/Aside/Aside.css';
@import './components/CoursePopup/CoursePopup.css';
@import './components/LecturePopup/LecturePopup.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
