:root {
  --background-colour: #f0f0f0;
  --mainText-colour: #1e1e1e;
  --secondaryText-colour: #505050;
  --element-colour1: #c8c8c8;
  --element-colour2: #969696;
  --extra-colour1: #832161;
  --extra-colour2: #e28413;
}
